.sidebarContainer {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100vh;
    padding: 1rem;
    width: 30rem;
}

.menuButton {
    background-color: #434343;
    border-radius: 1rem;
    padding: 0.5rem;
    color: white;
    cursor: pointer;
}

.mainContent {
    .title {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 1rem;
        border-bottom: 2px solid;
        width: 100%;
    }

    .menuItem {
        margin-bottom: 1rem;
        font-size: 1.125rem;
        border-bottom: 2px solid;
        width: 100%;
        text-align: start;
    }

    .loginLink {
        margin-top: auto;
        cursor: pointer;
        text-align: center;
    }
}